.header-contact__title{
    padding-left: 15px;
}

.header-contact__inputs{
    display: flex;
    justify-content: space-between;
}

.header-contact__name{
    display: flex;
    flex-direction: column;
}

.header-contact__title{
    padding-bottom: 5px;
}

.header-contact__input{
    width: 300px;
    font-family: var(--main-font-regular);
    letter-spacing: 0.1em;
    color: #7D818E;
    border: 1px solid #D0D2D7;
    border-radius: 5px;
    padding: 13px 20px;
    outline: none;
}

.header-contact__input:focus{
    outline: 2px solid #0093A2;
}

.header-contact__input::-webkit-inner-spin-button,
.header-contact__input::-webkit-outer-spin-button{
    appearance: none;
}